body{
background-image: url("images/b.jpg");
background-size: 250px;
back
background-repeat: repeat;

  font-family: 'Shadows Into Light', cursive;
  font-size: 150%;
  color: #fef9ff;

}




.main-header {

background-size: ;
background-color: navajowhite;
font-family: 'Ubuntu Condensed', sans-serif;
margin-bottom:20px;

}
.title{

  font-weight: bold;
  color:black;
  text-shadow: 1px 1px black;
}

.footer {
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: white;
  border-top: 1px solid black;
  margin-bottom:0;
  border-bottom:30px solid white;
    background-color: 0;
}


.background {
  background-color: rgb(240,250,255)
}


.carousel {
  height: 50%;
  width: 100%;
  margin: 0 auto;
  box-shadow: 10px, 0px black;
  max-width: 550px;
}
.carousel-indicators li {
      height:10px !important;
width:10px !important;
    border-radius: 50%;
  top:10px;
}

.slideshow {
margin:auto;
}
.imgs {
  width:100%;
}


.grand {
    display:inline-block;
    
}

nav a {
  display:inline-block;
font-size: 1.5em;
margin:10px -250px 0 430px;
text-shadow: 1px 1px black;
padding:10px;
border-radius:7px;
background-color: black;
color: white;
text-decoration: none;
box-shadow: 1px 1px grey;
}

nav a:hover {
  background-color:rgb(0,0,0,.5);
    
}