/*
Name: jhoan rios
Date Created: April 7, 2019
Most recent revision:
*/


  
header, footer {
    background-color: darkgreen;
    color: black;
}


/*#experience {
    border: thick dashed yellow;
}*/

#hobbies {
    border: thick dashed yellow;
}

nav .btn {
    background-color: green;
        color: black;
    border-top: thin #5b7d87 solid;
    border-bottom: thin #5b7d87 solid;
    padding-top: 12px;
    padding-bottom: 12px;
}
 
nav .btn:hover {
    font-weight: : bold;
}

.carousel {
  height: 50%;
  width: 100%;
  margin: 0 auto;
  box-shadow: 10px, 0px black;
  max-width: 550px;
}
.carousel-indicators li {
      height:10px !important;
width:10px !important;
    border-radius: 50%;
  top:10px;
}

.slideshow {
margin:auto;
}
.imgs {
  width:100%;
}







/*        <div style="background-color:rgb(178,31,40,0.8);">color i like</div>
*/